version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Warsaw"
    open-pull-requests-limit: 10

  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Warsaw"
    open-pull-requests-limit: 10
